<div class="ui inverted tertiary segment" style="margin-top: 80px;">
  <div class="row">
    <div class="column">
      <h1 class="center aligned ui header">
        Welcome the SYSU NLP group
      </h1>
    </div>
  </div>
</div>
