<div class="ui container">
  <div class="ui page inverted grid relaxed segment" style="margin-top: 80px;">
    <div class="row">
      <div class="column">
        <h1 class="center blue aligned ui header">
          Welcome the SYSU NLP group
        </h1>
      </div>
    </div>
  </div>
</div>