<div class="ui container">
  <div class="ui page grid">
    <div class="column">
      <div class="ui huge message page grid center aligned">
        <h1 class="ui huge header">问题精选</h1>

        <p>我们随机从中选择一些问题，你可以点击参看原问题答案。总之这是一个不错的方向。我就先试试手</p>
        <a class="ui green button" href="/answers">随机一下</a>
      </div>
    </div>
  </div>
</div>
<hr style="margin-top: 50px; margin-bottom: 50px; position: relative; width: 86%;">
<%= render :partial => 'answer/random_answers'%>