<div class="ui grey secondary inverted menu">
  <div class="item"><%= link_to 'Home', '/'%> </div>
  <div class="item">Publiction</div>
  <div class="item"><%=link_to 'People', '/person' %></div>
  <div class="item">Projects</div>
  <div class="item">News</div>
  <div class="right menu">
    <div class="item"><%=link_to 'Sign in', '/users/sign_in' %></div>
  </div>
</div>