<div class="ui grey secondary inverted menu">
  <div class="item"><i class="home icon"></i><%= link_to 'Home', '/' %> </div>
  <div class="item"><i class="lab icon"></i><%= link_to 'Answers', '/answers' %> </div>
  <div class="item"><i class="user icon"></i> <%= link_to 'People', '/person' %></div>
  <div class="item">Projects</div>
  <div class="item">News</div>
  <div class="right menu">
    <div class="item"><%= link_to 'Sign in', '/users/sign_in' %></div>
  </div>
</div>
